@model NET_MVC.Models.Animal
@* <h1>
    Thú cưng: @ViewBag.FakeAnimal.Name
</h1>
<h1>
    Giá: @ViewBag.FakeAnimal.Price
</h1> *@
<h2>Dữ liệu của Pet</h2>
<p>Tên: @Model.Name</p>
<a href="/danh-sach-thu-cung">Trang chủ</a>